[submodule "gnip-powertrack"]
	path = gnip-powertrack
	url = https://github.com/urbanriskmap/cognicity-reports-powertrack.git
[submodule "twitter"]
	path = twitter
	url = https://github.com/urbanriskmap/cognicity-reports-twitter.git
[submodule "detik"]
	path = detik
	url = https://github.com/urbanriskmap/cognicity-reports-detik.git
[submodule "qlue"]
	path = qlue
	url = https://github.com/urbanriskmap/cognicity-reports-qlue.git
[submodule "floodgauge"]
	path = floodgauge
	url = https://github.com/urbanriskmap/cognicity-reports-floodgauge.git
